* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  background-color: #F4F4F4;
  overflow: hidden;
}
ol, ul, li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:visited {
  color: black;
}
.container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  height: 100%;
  padding: 26px 26px 10px 26px;
  overflow: hidden;
}
.container:before, .container:after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background-image: -webkit-gradient(linear, left top, right top, from(#CAB8E9), to(#77CCF2));
  background-image: -webkit-linear-gradient(left, #CAB8E9, #77CCF2);
  background-image: -o-linear-gradient(left, #CAB8E9, #77CCF2);
  background-image: linear-gradient(to right, #CAB8E9, #77CCF2);
}
.container:before {
  left: -30%;
  bottom: 0%;
  -webkit-animation: rayBefore 1s linear;
          animation: rayBefore 1s linear;
}
.container:after {
  right: -30%;
  top: 0%;
  -webkit-animation: rayAfter 1s linear;
          animation: rayAfter 1s linear;
}
@-webkit-keyframes rayAfter {
  from {
    -webkit-transform: rotate(45deg) translate(-50%, 0%);
            transform: rotate(45deg) translate(-50%, 0%);
  }
  to {
    -webkit-transform: rotate(45deg) translate(0%, 0%);
            transform: rotate(45deg) translate(0%, 0%);
  }
}
@keyframes rayAfter {
  from {
    -webkit-transform: rotate(45deg) translate(-50%, 0%);
            transform: rotate(45deg) translate(-50%, 0%);
  }
  to {
    -webkit-transform: rotate(45deg) translate(0%, 0%);
            transform: rotate(45deg) translate(0%, 0%);
  }
}
@-webkit-keyframes rayBefore {
  from {
    -webkit-transform: rotate(45deg) translate(50%, 0%);
            transform: rotate(45deg) translate(50%, 0%);
  }
  to {
    -webkit-transform: rotate(45deg) translate(0%, 0%);
            transform: rotate(45deg) translate(0%, 0%);
  }
}
@keyframes rayBefore {
  from {
    -webkit-transform: rotate(45deg) translate(50%, 0%);
            transform: rotate(45deg) translate(50%, 0%);
  }
  to {
    -webkit-transform: rotate(45deg) translate(0%, 0%);
            transform: rotate(45deg) translate(0%, 0%);
  }
}
.line {
  width: 300px;
  height: 150px;
  position: absolute;
  -webkit-transform: rotate(-45deg) translate(-50%, -50%);
      -ms-transform: rotate(-45deg) translate(-50%, -50%);
          transform: rotate(-45deg) translate(-50%, -50%);
  overflow: hidden;
  pointer-events: none;
}
.headerLine {
  border-left-width: 0;
  border-top-color: transparent;
  border-bottom-width: 0;
  left: 50%;
  top: 30%;
  -webkit-transform-origin: 0% 50%;
      -ms-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}
.headerLine:before {
  content: '';
  width: 300px;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#CAB8E9), to(#77CCF2));
  background-image: -webkit-linear-gradient(left, #CAB8E9, #77CCF2);
  background-image: -o-linear-gradient(left, #CAB8E9, #77CCF2);
  background-image: linear-gradient(to right, #CAB8E9, #77CCF2);
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: headerLongLine 1s linear;
          animation: headerLongLine 1s linear;
}
.headerLine:after {
  content: '';
  height: 150px;
  width: 2px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#77CCF2), to(#CAB8E9));
  background-image: -webkit-linear-gradient(top, #77CCF2, #CAB8E9);
  background-image: -o-linear-gradient(top, #77CCF2, #CAB8E9);
  background-image: linear-gradient(to bottom, #77CCF2, #CAB8E9);
  position: absolute;
  top: 0;
  right: 0;
  -webkit-animation: headerShortLine 2s linear;
          animation: headerShortLine 2s linear;
}
@-webkit-keyframes headerLongLine {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes headerLongLine {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes headerShortLine {
  from {
    top: -200%;
  }
  to {
    top: 0;
  }
}
@keyframes headerShortLine {
  from {
    top: -200%;
  }
  to {
    top: 0;
  }
}
.footerLine {
  border-top-width: 0;
  border-right-width: 0;
  bottom: 50%;
  left: 50%;
  -webkit-transform-origin: 50% 0%;
      -ms-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
}
.footerLine:before {
  content: '';
  width: 300px;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#CAB8E9), to(#77CCF2));
  background-image: -webkit-linear-gradient(left, #CAB8E9, #77CCF2);
  background-image: -o-linear-gradient(left, #CAB8E9, #77CCF2);
  background-image: linear-gradient(to right, #CAB8E9, #77CCF2);
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-animation: footerLongLine 1s linear;
          animation: footerLongLine 1s linear;
}
.footerLine:after {
  content: '';
  height: 150px;
  width: 2px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#77CCF2), to(#CAB8E9));
  background-image: -webkit-linear-gradient(top, #77CCF2, #CAB8E9);
  background-image: -o-linear-gradient(top, #77CCF2, #CAB8E9);
  background-image: linear-gradient(to bottom, #77CCF2, #CAB8E9);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: footerShortLine 2s linear;
          animation: footerShortLine 2s linear;
}
@-webkit-keyframes footerLongLine {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@keyframes footerLongLine {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes footerShortLine {
  from {
    top: 200%;
  }
  to {
    top: 0;
  }
}
@keyframes footerShortLine {
  from {
    top: 200%;
  }
  to {
    top: 0;
  }
}
header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50%;
  width: 100%;
  z-index: 2;
}
.logo {
  width: 40px;
  height: 20px;
  background-image: url(../images/logo@2x.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}
nav li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 136px;
  height: 27px;
  margin-bottom: 8px;
  -webkit-animation-name: bounceOutRight;
          animation-name: bounceOutRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
nav li:nth-child(1) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
nav li:nth-child(2) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
nav li:nth-child(3) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
nav li:nth-child(4) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
            transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
            transform: translate3d(2000px, 0, 0);
  }
}
@keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
            transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
            transform: translate3d(2000px, 0, 0);
  }
}
nav li a {
  font-size: 14px;
  color: #333333;
}
nav li:hover, nav li:active {
  cursor: pointer;
  color: black;
  font-weight: bold;
  background-color: white;
  padding: 0 6px;
  -webkit-box-shadow: 0 12px 26px 0 rgba(179,180,245,0.43);
          box-shadow: 0 12px 26px 0 rgba(179,180,245,0.43);
  -webkit-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
nav li img {
  display: none;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
nav li:hover img, nav li:active img {
  display: block;
}
nav > input {
  display: none;
}
nav input[type="checkbox"] + label {
  display: block;
  float: right;
  position: relative;
  width: 15px;
  height: 15px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  cursor: pointer;
}
nav input[type="checkbox"] + label:before {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  height: 2px;
  width: 20px;
  background-color: black;
  -webkit-transition: width 300ms;
  -o-transition: width 300ms;
  transition: width 300ms;
}
nav input[type="checkbox"]:checked + label:before {
  width: 10px;
}
nav input[type="checkbox"]:checked + * + ul li {
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
footer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 50%;
  color: black;
  font-size: 14px;
  text-align: center;
  z-index: 1;
}
.about, .design, .logo, nav {
  z-index: 1;
  -webkit-animation: zoomIn 2s 0s 1 both;
          animation: zoomIn 2s 0s 1 both;
}
.about {
  position: absolute;
  top: -50%;
  left: 50%;
  width: 100%;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.about h2 {
  font-size: 24px;
}
.about h2 small {
  display: block;
  color: #A0A0A0;
  font-size: 16px;
  padding: 5px;
}
.about p:first-of-type {
  padding: 47px 0;
}
.about p:not(:first-of-type) {
  margin-bottom: 5px;
}
.about a {
  color: black;
}
.about a:hover, .about a:active {
  text-decoration: underline;
}
.design {
  width: 100%;
  color: #959595;
  font-size: 10px;
}
.design a {
  color: #959595;
}
.design a:hover, .design a:active {
  color: black;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .container {
    position: inherit;
    max-width: 1024px;
    padding: 200px 26px;
    margin: 0 auto;
  }
  .navicon {
    width: 20px;
  }
  .navicon:before {
    width: 15px;
  }
  footer {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .line {
    width: 600px;
    height: 300px;
  }
  .headerLine {
    left: 40%;
    top: 20%;
  }
  .footerLine {
    left: 60%;
    bottom: -20%;
  }
  .footerLine:before, .headerLine:before {
    width: 600px;
  }
  .footerLine:after, .headerLine:after {
    height: 300px;
  }
  .about {
    position: relative;
    top: auto;
    left: 0;
    text-align: left;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .about h2 small {
    display: initial;
    font-size: 14px;
  }
  .about p:first-of-type {
    padding: 25px 0;
  }
  .design {
    text-align: right;
    font-size: 12px;
  }
}